<!doctype html>
<html ng-app="myApp">
<head>
    <link rel="stylesheet" type="text/css" href="Scripts/angular-material.min.css">
    <script src="Scripts/collie.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="app.js"></script>
    <script src="Repositories/CardSelectorRepository.js"></script>
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="Game.js"></script>
    <script src="Services\TrainSelector.js"></script>
    <script src="Services\CardMapper.js"></script>
    <script src="Services\BabylonMapLoader.js"></script>
    <script src="Services\MapLoader.js"></script>
    <script src="Repositories/TrainPlacementRepository.js"></script>
    <script src="Services\GameLoader.js"></script>
    <script src="Repositories/PlayerRouteHandRepository.js"></script>
    <script src="Repositories/StartRepository.js"></script>
    <script src="Repositories/PlayerTrainHandRepository.js"></script>
    <script src="Repositories/TurnRepository.js"></script>
    <script src="Repositories/PlayersRepository.js"></script>
    <script src="Repositories/TrainDeckRepository.js"></script>
    <script src="Model/PlayerSelectedRouteCards.js"></script>
    <script src="Model/Route.js"></script>
    <script src="Repositories/RouteDeckRepository.js"></script>
    <script src="Services/RouteCardPicker.js"></script>
    <script src="Repositories/NextTurnRepository.js"></script>
    <script src="Repositories/MapRepository.js"></script>
    <script src="Scripts/babylon.js"></script>
    <script src="SimpleController.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-material.min.js"></script>

</head>
<body>

    <div ng-controller="SimpleController as c">



        <div class="screen-size">
            <div class="overlay" ng-show="c.isLoading()">
                <md-progress-circular class="loading-spinner md-warn md-hue-1" md-mode="indeterminate"></md-progress-circular>
                <div class="overlay-background"></div>
            </div>
            <div class="top-half">
                <div class="top-half-left-container">

                    <div class="other-player">
                        <div class="train-card-pile">
                            <ul class="train-deck">
                                Ai Players
                                <li ng-repeat="humanPlayer in c.game.humanPlayers track by $index">
                                    <div class="other-player-content">Type:{{c.getPlayerTypeStringFromEnum(humanPlayer.PlayerType)}}</div>
                                    <div class="other-player-content">Id{{humanPlayer.Id}}</div>
                                    <div class="other-player-content">Col:{{humanPlayer.Colour}}s</div>
                                    <div class="other-player-content">Avl:{{humanPlayer.AvailableTrains}}</div>
                                </li>
                            </ul>


                            <ul class="train-deck">
                                Human Players
                                <li ng-repeat="aiPlayer in c.game.aiPlayers track by $index">
                                    <div class="other-player-content">T: {{aiPlayer.PlayerType}}</div>
                                    <div class="other-player-content">Id:{{aiPlayer.Id}}</div>
                                    <div class="other-player-content">Col:{{aiPlayer.Colour}}s</div>
                                    <div class="other-player-content">Avl:{{aiPlayer.AvailableTrains}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="currentTurn"> Current Turn: {{c.game.turnIndex}}</div>

                    <md-button ng-click="c.startGame()" class="md-raised md-warn">
                        New Game
                    </md-button>

                    <md-button ng-click="c.selectRouteCard()" ng-disabled="!c.inTurn()" class="md-raised md-warn">
                        Pickup RouteCard
                    </md-button>
                    <div class="cardsRemaining">
                        <i>TODO Cards Left</i>
                    </div>
                    <md-button onclick="myFunction()" ng-disabled="!c.inTurn()" class="md-raised md-warn">
                        From Pile
                    </md-button>
                    <div class="cardsRemaining">
                        <i>TODO Cards Left</i>
                    </div>
                    <div class="train-card-pile">
                        <ul class="train-deck">
                            <li ng-repeat="traincard in c.game.trainDeck track by $index">
                                <md-button ng-click="c.faceupCardSelected($index)" ng-disabled="!c.inTurn()" class="md-raised md-warn {{traincard}}">
                                    {{traincard}}
                                </md-button>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="top-half-right-container">
                    <canvas id="renderCanvas"></canvas>
                </div>
            </div>


            <div class="bottom-half">
                <div ng-if="!c.inTurn()">
                    End of turn, press the button below to continue
                    <!-- This actually just hides this panel and shows the other hehehe -->
                    <md-button ng-click="c.continueTurn()" class="md-raised md-warn">
                        Continue
                    </md-button>

                </div>


                <div class="player-cards" ng-if="c.inTurn()">
                    <div class="player-route-cards">

                        <ul class="unstyled">
                            <li ng-repeat="routeCard in c.game.playerRouteHand track by $index">

                                <label class="checkbox">

                                    <span>From {{routeCard.StartLocation.Identifier}} to {{routeCard.EndLocation.Identifier}} for {{routeCard.Points}} points</span>

                                </label>

                            </li>
                        </ul>
                    </div>

                    <div class="player-train-cards">


                        <div class="player-route-cards">

                            <ul class="trainCardsList">
                                <li ng-repeat="trainCard in c.game.playerTrainHand track by $index">

                                    <md-button class="md-raised md-warn {{trainCard}}">
                                        {{trainCard}}
                                    </md-button>

                                </li>
                            </ul>
                        </div>
                    </div>

                    <div ng-show="c.isAiLoading">
                        Please wait for ai to complete turn
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>